PORT=3001
AUTHORIZED_EMAIL=your.google.account@gmail.com
# Absolute path to the Firebase service account JSON key file
FIREBASE_SERVICE_ACCOUNT=/path/to/firebase-service-account.json
# Path of the workspace path sandboxing
ACTIVE_WORKSPACE=/Users/jinzhou/Documents/Project/Antigravity Web Page
